<h1>ユーザー詳細</h1>
<%= image_tag @end_user.get_profile_image(100,100) %>
<%= @end_user.name %>
<%= @end_user.introduction %>
<%= link_to @end_user.followings.count, public_end_user_followings_path(@end_user.id) %>
<%= link_to @end_user.followers.count, public_end_user_followers_path(@end_user.id) %>

<%= link_to "編集", edit_public_end_user_path %>

<% if current_end_user.following?(@end_user) %>
  <%= link_to "フォロー外す", public_end_user_relationships_path(@end_user.id), method: :delete, remote: true %>
<% else %>
  <%= link_to "フォローする", public_end_user_relationships_path(@end_user.id), method: :post, remote: true %>
<% end %>
