<h1>投稿詳細</h1>
<div class="first-infoemation">
  <%= link_to public_end_user_path(@coffee.end_user) do %>
    <%= image_tag @coffee.end_user.get_profile_image(100,100), class: "rounded-circle" %>
    <%= @coffee.end_user.name %>
  <% end %>
</div>
<div class="btn">
  <% if @coffee.end_user == current_end_user %>
      <%= link_to "編集", edit_public_coffee_path(@coffee) %>
      <%= link_to "削除", public_coffee_path(@coffee), method: :delete %>
  <% end %>
</div>

<div class="coffee-post">
  <% @coffee.get_profile_image(400,400).each do |image| %>
    <%= image_tag image %><br />
  <% end %>
  <br />
  <%= @coffee.text %>
  <div class="favorite_buttons_<%= @coffee.id %>">
    <%= render "admin/favorites/favorite", coffee: @coffee %>
  </div>
</div>
<h4>コメント</h4>
<%= form_with model: @coffee_comment, url: public_coffee_coffee_comment_path(@coffee), method: :post, local: false do |f| %>
  <div class="form-group">
    <%= f.text_area :comment, size: "40x1" %>
  </div>
  <div class="form-group">
    <%= f.label :images, "画像" %>
    <%= f.file_field :images, accept: "image/*", multiple: true %>
  </div>
  <%= f.submit '送信', class: "btn-sm btn-primary" %>
<% end %>

<div class="comments-area">
  <%= render "public/coffee_comments/comment", comments: @comments %>
</div>