<% if end_users.exists? %>
  <% end_users.each do |end_user| %>
    <%= image_tag end_user.get_profile_image(100,100) %>
    <%= end_user.name %><br />
    <%= end_user.introduction %><br />
    フォロー数: <%= end_user.followings.count %>
    フォロワー数: <%= end_user.followers.count %>
  <% end %>
<% else %>
  <p>ユーザーはいません</p>
<% end %>