<% if @range == "ユーザー" %>
  <h3 class="search-user-headline">ユーザー検索一覧</h3>
  <% @end_users.each do |end_user| %>
      <div class="follow-list mb-2 border rounded shadow p-2" style="font-size: 20px; background-color: #fffcf0;">
        <%= link_to public_end_user_path(end_user) do %>
          <%= image_tag end_user.get_profile_image(60,60), class: "rounded-circle" %>
          <%= end_user.name %>
        <% end %>
      </div>
  <% end %>
<% else %>
  <h3 class="search-coffee-headline">投稿検索一覧</h3>
  <% @coffees.each do |coffee| %>
    <%= render "public/coffees/coffee", coffee: coffee %>
  <% end %>
  <%= paginate @coffees %>
<% end %>