<div class="coffee-list shadow border rounded mt-1" style="background-color: #FFFFF0;">
    <div class="end_user-image-name p-2 border-bottom" style="font-size: 20px;">
      <%= link_to public_end_user_path(coffee.end_user), class: "link" do %>
        <% if coffee.end_user.end_user_image.attached? %>
          <%= image_tag coffee.end_user.get_profile_image(60,60), class: "rounded-circle" %>
        <% else %>
          <%= image_tag 'no_image.jpg', size: "60", class: "rounded-circle" %>
        <% end %>
        <%= coffee.end_user.name %><br />
      <% end %>
    </div>

    <div class="coffee-image row p-2" style="font-size: 20px;">
          <% coffee.get_profile_image(600,500).each.with_index do |image,index| %>
            <% if coffee.get_profile_image(600,500).size > 1 %>
              <div class="image-wrapper-2">
            <% else %>
              <div class="image-wrapper-1">
            <% end %>
            <%= image_tag image, data: {toggle: "modal", target: ".image-#{index + coffee.id}-modal-lg"} %><br>
              <div class="modal fade image-<%= index + coffee.id %>-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <%= image_tag image %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
          <%= link_to public_coffee_path(coffee) do %>
              <div class="text-left">
                <%= coffee.text %><br />
              </div>
            </div>
          <% end %>

    <div class="d-flex flex-row p-2 m-2">
      <%= link_to public_coffee_path(coffee) do %>
        <div class="mr-3">
          <i class="fa fa-comments"></i><%= coffee.coffee_comments.count %>
        </div>
      <% end %>

      <div class="favorite_buttons_<%= coffee.id %>">
        <%= render "public/favorites/favorite", coffee: coffee %>
      </div>
    </div>
  </div>

<!--<%#= image_tag 'no_image.jpg', size: "100", data: {toggle: "modal", target: ".bd-example-modal-lg"} %>-->
<!--<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">-->
<!--  <div class="modal-dialog modal-lg">-->
<!--    <div class="modal-content">-->
<!--      <%#= image_tag 'no_image.jpg' %>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
