<h1>投稿一覧</h1>
<% @coffees.each do |coffee| %>
  <%= link_to public_end_user_path(coffee.end_user) do %>
    <%= image_tag coffee.end_user.get_profile_image(100,100) %>
    <%= coffee.end_user.name %>
  <% end %>
  <%= link_to public_coffee_path(coffee) do %>
    <%= image_tag coffee.get_profile_image(100,100) %>
    <%= coffee.text %>
  <% end %>
<% end %>