<h3>投稿する</h3>
<% if @coffee.errors.any? %>
  <%= @coffee.errors.count %>件のエラーが発生しました
  <ul>
    <% @coffee.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with model: @coffee, url: public_coffees_path, method: :post do |f| %>
<div class="form-group">
  <%= f.label :images, "画像" %>
  <%= f.file_field :images, accept: "image/*", multiple: true %>
</div>
<div class="form-group">
  <%= f.label :text %>
  <%= f.text_area :text %>
</div>
<div class="form-group">
  <%= f.submit "投稿" %>
</div>
<% end %>
