<h3>投稿する</h3>
<% if @coffee.errors.any? %>
  <%= @coffee.errors.count %>件のエラーが発生しました
  <ul>
    <% @coffee.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<div class="p-2" style="background-color: #ead7a4;">
  <%= form_with model: @coffee, url: public_coffees_path, method: :post do |f| %>
  <div class="form-group p-2">
    <%= f.label :images, "image" %><br />
    <%= f.file_field :images, accept: "image/*", multiple: true %>
  </div>
  <div class="form-group p-2">
    <%= f.label :text, "text" %><br />
    <%= f.text_area :text %>
  </div>
  <div class="form-group p-2">
    <%= f.submit "投稿" %>
  </div>
  <% end %>
</div>
