<div class="coffee-show d-flex bd-highlight mt-5">
  <h3 class="mr-auto p-2 bd-highlight">投稿詳細</h3>
  <div class="text-right p-2">
    <% if @coffee.end_user == current_end_user %>
      <%= link_to "編集", edit_public_coffee_path(@coffee), class: "btn btn-success" %>
      <%= link_to "削除", public_coffee_path(@coffee), method: :delete, class: "btn btn-danger", data: { confirm: "この投稿を削除します、よろしいですか？" } %>
    <% end %>
  </div>
</div>

<%= render "public/coffees/coffee", coffee: @coffee %>

<div class="coffee-comment shadow border border-light p-2 rounded mt-2" style="background-color: #FFFFF0;">
  <h4>コメント</h4>
  <%= form_with model: @coffee_comment, url: public_coffee_coffee_comment_path(@coffee), local:false, method: :post do |f| %>
    <div class="form-group">
      <%= f.text_area :comment, size: "40x1" %>
    </div>
    <!--<div class="form-group">-->
    <!--  <%#= f.label :images, "画像" %>-->
    <!--  <%#= f.file_field :images, accept: "image/*", multiple: true %>-->
    <!--</div>-->
    <%= f.submit '送信', class: "btn-sm btn-primary" %>
  <% end %>
</div>

<div class="comments-area">

    <%= render "public/coffee_comments/comment", comments: @comments %>

</div>

