<!DOCTYPE html>
<html>
  <head>
    <title>CoffeeTime</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #834f2f;">
        <!--æµå‹•æ€§ã®ã‚ã‚‹ã‚³ãƒ³ãƒ†ãƒŠã«ã™ã‚‹-->
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <div class="float-left header-logo">
              <%= link_to root_path do %>
              <%= image_tag('Coffeetime.png') %>
              <% end %>
            </div>
          </div>
          <% if end_user_signed_in? %>
            <%= render 'layouts/searches/serach' %>
            <ul class="navbar-nav ml-auto">
              <li><%= link_to "ãƒ—ãƒ­ãƒ•ã‚£ãƒ¼ãƒ«",  public_end_user_path(current_end_user), class: "btn btn-outline-light mr-2" %></li>
              <li><%= link_to "ã‚¿ã‚¤ãƒ ãƒ©ã‚¤ãƒ³", public_coffees_time_line_path, class: "btn btn-outline-light mr-2" %></li>
              <li><%= link_to "æŠ•ç¨¿ä¸€è¦§", public_coffees_path, class: "btn btn-outline-light mr-2" %></li>
              <li><%= link_to "æŠ•ç¨¿ã™ã‚‹" , new_public_coffee_path, class: "btn btn-outline-light mr-2" %></li>
              <li><%= link_to "ã‚³ãƒ¼ãƒ’ãƒ¼ã®æ™‚é–“ã¨ã¯ï¼ŸðŸ”°", public_homes_about_path, class: "btn btn-outline-light mr-2" %></li>
              <li><%= link_to "ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ", destroy_end_user_session_path, method: :delete, class: "btn btn-outline-light mr-2" %></li>
            </ul>
          <% elsif admin_signed_in? %>
            <ul class="navbar-nav ml-auto">
              <li><%= link_to "ãƒ¦ãƒ¼ã‚¶ãƒ¼ä¸€è¦§", admin_end_users_path, class: "btn btn-outline-light mr-2" %></li>
              <li><%= link_to "æŠ•ç¨¿ä¸€è¦§", admin_coffees_path, class: "btn btn-outline-light mr-2" %></li>
              <li><%= link_to "ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ", destroy_admin_session_path, method: :delete, class: "btn btn-outline-light mr-2" %></li>
            </ul>
          <% else %>
            <ul class="navbar-nav ml-auto">
              <li><%= link_to "CoffeeTimeã¨ã¯ï¼ŸðŸ”°", public_homes_about_path, class: "btn btn-outline-light mr-2" %></li>
              <li><%= link_to 'æ–°è¦ç™»éŒ²', new_end_user_registration_path, class: "btn btn-outline-light mr-2" %></li>
              <li><%= link_to 'ãƒ­ã‚°ã‚¤ãƒ³', new_end_user_session_path, class: "btn btn-outline-light mr-2" %></li>
            </ul>
          <% end %>
      </nav>
    </header>
    <div class="container" style='min-height: calc(100vh - 100px);'>
      <%= yield %>
    </div>
    <footer class="color text-light pt-3 pb-1" style="background-color: #834f2f;">
        <p class="text-center"> Â© CoffeeTime 2022</p>
    </footer>
  </body>
</html>
