<!DOCTYPE html>
<html>
  <head>
    <title>CoffeeTime</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  </head>

  <body>
    <div class="container">

      <div class="wapper d-flex flex-wrap">
        <% if end_user_signed_in? %>
          <%= render 'layouts/serach' %>

          <div class="side_menu w-25 fixed-top">
            <ul class="list-group">
              <li class="list-group-item border-0">
                <%= link_to "home", public_coffees_path %>
              </li>
              <li class="list-group-item border-0">
                <%= link_to "プロフィール",  public_end_user_path(current_end_user) %>
              </li>
              <li class="list-group-item border-0">
                <%= link_to "投稿する" , new_public_coffee_path %>
              </li>
              <li class="list-group-item border-0">
                <%= link_to "コーヒーの時間とは？", public_homes_about_path %>
              </li>
              <li class="list-group-item border-0">
                <%= link_to "ログアウト", destroy_end_user_session_path, method: :delete %>
              </li>
          </div>
        <% end %>
        <div class="w-25"></div>
        <div class="main_content w-75">
          <%= yield %>

        </div>
      </div>
    </div>
  </body>
</html>
